@charset "UTF-8";
/* https://css-tricks.com/building-css-grid-overlay/ */
:root {
  --grid-color: hsla(0, 75%, 75%, 0.25);
  --grid-repeating-width: calc(100% / var(--columns));
  --grid-column-width: calc((100% / var(--columns)) - var(--gutter));
  --grid-background-width: calc(100% + var(--gutter));
  --grid-background-columns: repeating-linear-gradient(
    to right,
    var(--grid-color),
    var(--grid-color) var(--grid-column-width),
    transparent var(--grid-column-width),
    transparent var(--grid-repeating-width)
  );
}

html {
  position: relative;
}

html::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 2 * var(--offset));
  min-height: 100vh;
  background-image: var(--grid-background-columns);
  background-size: var(--grid-background-width) 100%;
  z-index: 1000;
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Lora-VariableFont_wght.ttf") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url("./fonts/Lato-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("./fonts/Lato-Bold.ttf") format("woff");
}
:root {
  --font-base-body-px: 16px;
  --spacing: 1rem;
  --vertical-space: calc(var(--gutter));
  --max-width: 1400px;
  --width-offset: calc(100% - (2 * var(--offset)));
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --break-high: 1000px; /* virkar ekki */
  --break-low: 500px; /* virkar ekki */
  --coffee-with-milk: #e1cec2;
  --black-coffee: #3c2a1e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white1: #fefefe;
  --color-coffee: #6f4e37;
  --color-puce-red: #682d2d;
  --font-base-size: 1rem;
  --font-family-heading: "Lora", serif;
  --font-family-base: "Lato", sans-serif;
}

html,
input,
select,
button {
  font-size: var(--font-base-body-px);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  /* Setjum almennt bil á eftir fyrirsögnum */
  margin-bottom: var(--spacing);
  font-family: var(--font-family-heading);
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-container .brand-name {
  font-family: "Lora";
  font-weight: bold;
  font-size: 40px;
}
.logo-container .logo {
  padding-right: 10px;
  padding-left: 15px;
}

.logo {
  margin-right: 10px;
}

.search {
  display: flex;
  align-items: center;
}

.search-icon {
  margin-left: 10px;
}

.categories a {
  margin: 0 10px;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 565px;
  background-size: cover;
}

.header-content h1,
.header-content p {
  text-align: center;
}

.product-cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}
.product-cards .product-card {
  grid-column: span var(--columns);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: calc(var(--spacing) * 0.5);
  width: 100%;
  min-height: 100px;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}
.product-cards .product-card img {
  max-height: 400px;
  object-fit: cover;
  object-position: top center;
}
.product-cards .product-card .title {
  margin-bottom: calc(var(--spacing) * 0.5);
  border-bottom: var(--border-small) solid var(--color-dark);
}
.product-cards .product-card .tags {
  display: inline-flex;
  gap: calc(var(--spacing) / 2);
}
.product-cards .product-card .tags .tag {
  background-color: var(--coffee-with-milk);
  padding: calc(var(--spacing) / 2);
  border-radius: var(--border-radius);
}
.product-cards .product-card .price {
  flex: 1;
}
.product-cards .product-card button {
  flex: 1;
  color: var(--black-coffee);
  border-color: var(--black-coffee);
  background-color: var(--color-white);
  padding: var(--spacing);
  border-radius: var(--border-radius);
}
@media (min-width: 1000px) {
  .product-cards .product-card img {
    max-height: 350px;
  }
}
@media (min-width: 500px) {
  .product-cards .product-card {
    grid-column: span calc(var(--columns) / 2);
  }
}
@media (min-width: 1000px) {
  .product-cards .product-card {
    grid-column: span calc(var(--columns) / 4);
  }
}

@media (min-width: 500px) {
  .product-cards {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
  }
}
.desktop {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  /** grid items eru miðjuð **/
  justify-items: center;
  gap: var(--vertical-space);
}

.page-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--vertical-space);
  width: var(--width-offset);
}

.products-new,
.products-all {
  background-color: var(--coffee-with-milk);
}

/*# sourceMappingURL=styles.css.map */
