@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Lora-VariableFont_wght.ttf") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url("./fonts/Lato-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("./fonts/Lato-Bold.ttf") format("woff");
}
:root {
  --font-base-body-px: 16px;
  --spacing: 1rem;
  --vertical-space: calc(var(--gutter));
  --max-width: 1400px;
  --width-offset: calc(100% - (2 * var(--offset)));
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --coffee-with-milk: #E1CEC2;
  --black-coffee: #3C2A1E;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white1: #fefefe;
  --color-coffee: #6f4e37;
  --color-puce-red: #682D2D;
  --font-base-size: 1rem;
  --font-family-base: "Noto Sans Display", Helvetica, Arial, sans-serif;
  --font-family-heading: "Lora", Georgia, serif;
}

html,
input,
select,
button {
  font-size: var(--font-base-body-px);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  /* Setjum almennt bil á eftir fyrirsögnum */
  margin-bottom: var(--spacing);
  font-family: var(--font-family-heading);
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-container .brand-name {
  font-family: "Lora";
  font-weight: bold;
  font-size: 40px;
}
.logo-container .logo {
  padding-right: 10px;
  padding-left: 15px;
}

.logo {
  margin-right: 10px;
}

.search {
  display: flex;
  align-items: center;
}

.search-icon {
  margin-left: 10px;
}

.categories a {
  margin: 0 10px;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; /* Adjust this as per your need */
  background-size: cover;
}

.header-content h1, .header-content p {
  text-align: center;
}

.boxes {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}
.boxes .box {
  grid-column: span var(--columns);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: calc(var(--spacing) * 0.5);
  width: 100%;
  min-height: 100px;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}
.boxes .box .title {
  margin-bottom: calc(var(--spacing) * 0.5);
  border-bottom: var(--border-small) solid var(--color-dark);
}
.boxes .box .content {
  flex: 1;
}
.boxes .box img {
  max-height: 400px;
  object-fit: cover;
  object-position: top center;
}
@media (min-width: 1000px) {
  .boxes .box img {
    max-height: 350px;
  }
}
@media (min-width: 500px) {
  .boxes .box {
    grid-column: span calc(var(--columns) / 2);
  }
}
@media (min-width: 1000px) {
  .boxes .box {
    grid-column: span calc(var(--columns) / 4);
  }
}

@media (min-width: 500px) {
  .boxes {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
