@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Lora-VariableFont_wght.ttf") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url("./fonts/Lato-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("./fonts/Lato-Bold.ttf") format("woff");
}
:root {
  --font-base-body-px: 16px;
  --spacing: 1rem;
  --vertical-space: calc(var(--gutter));
  --max-width: 1400px;
  --width-offset: calc(100% - (2 * var(--offset)));
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --break-high: 1000px; /* virkar ekki */
  --break-low: 500px; /* virkar ekki */
  --coffee-with-milk: #e1cec2;
  --black-coffee: #3c2a1e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white1: #fefefe;
  --color-coffee: #6f4e37;
  --color-puce-red: #682d2d;
  --font-base-size: 1rem;
  --font-family-heading: "Lora", serif; /* Ætti ekki að vera 'Georgia' skv. Google */
  --font-family-base: "Lato", sans-serif; /* í stað Noto-Sans-Display */
}

html,
input,
select,
button {
  font-size: var(--font-base-body-px);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  /* Setjum almennt bil á eftir fyrirsögnum */
  margin-bottom: var(--spacing);
  font-family: var(--font-family-heading);
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

nav {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: 1fr;
  gap: var(--vertical-space);
  width: var(--width-offset);
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}

.logo-container {
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.logo-container h1 {
  font-size: 40px;
  margin-bottom: 0;
}
.logo-container img {
  height: 30px;
  width: 30px;
}

.search {
  grid-column: 5/9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.search input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px black solid;
  text-indent: 6px;
  position: relative;
  z-index: 1;
}
.search img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  z-index: 2;
}

.categories {
  grid-column: 9/12;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories a {
  text-decoration: none;
}

.cart {
  grid-column: var(--columns);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart .cart-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  z-index: 1;
}
.cart .cart-icon-background {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 2rem;
  top: 2rem;
  z-index: 2;
}
.cart p {
  position: absolute;
  color: white;
  font-size: 1rem;
  top: 2rem;
  right: 2rem;
  z-index: 3;
  margin-right: 6px;
}

.top-background {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./myndir/Background.png");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 565px;
  width: 100%;
}

.header-content {
  display: grid;
  text-align: center;
  position: relative;
}
.header-content h1 {
  font-weight: bold;
  font-size: 160px;
  font-family: "Lato";
  margin-bottom: 12px;
  grid-column: 2/11;
}
.header-content p {
  font-family: "Lato";
  font-size: 36px;
  grid-column: 2/11;
}

.product-cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: var(--width-offset);
}
.product-cards .product-card {
  grid-column: span var(--columns);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: calc(var(--spacing) * 0.5);
  width: 100%;
  min-height: 100px;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}
.product-cards .product-card img {
  max-height: 400px;
  object-fit: cover;
  object-position: top center;
}
.product-cards .product-card .title {
  margin-bottom: calc(var(--spacing) * 0.5);
  border-bottom: var(--border-small) solid var(--color-dark);
}
.product-cards .product-card .tags {
  display: inline-flex;
  gap: calc(var(--spacing) / 2);
}
.product-cards .product-card .tags .tag {
  background-color: var(--coffee-with-milk);
  padding: calc(var(--spacing) / 2);
  border-radius: var(--border-radius);
}
.product-cards .product-card .price {
  flex: 1;
}
.product-cards .product-card button {
  flex: 1;
  color: var(--black-coffee);
  border-color: var(--black-coffee);
  background-color: var(--color-white);
  padding: var(--spacing);
  border-radius: var(--border-radius);
}
@media (min-width: 1000px) {
  .product-cards .product-card img {
    max-height: 350px;
  }
}
@media (min-width: 500px) {
  .product-cards .product-card {
    grid-column: span calc(var(--columns) / 2);
  }
}
@media (min-width: 1000px) {
  .product-cards .product-card {
    grid-column: span calc(var(--columns) / 4);
  }
}

@media (min-width: 500px) {
  .product-cards {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
  }
}
.desktop {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  /** grid items eru miðjuð **/
  justify-items: center;
  gap: var(--vertical-space);
}

.page-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--vertical-space);
  justify-items: center;
}

.products-new,
.products-all,
.product-list {
  display: grid;
  justify-items: center;
}
.products-new .background,
.products-all .background,
.product-list .background {
  position: absolute;
  width: 100%;
  height: 31%;
  background-color: var(--coffee-with-milk);
  transform: skewY(-1deg);
  transform-origin: 0;
  z-index: -1;
}

/*# sourceMappingURL=styles.css.map */
