:root {


    --coffee-with-milk: #E1CEC2;
    --black-coffee: #3C2A1E;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-white1: #fefefe;
    --color-coffee: #6f4e37;
    --color-puce-red: #682D2D;
}