.filter {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: 1fr;
  width: var(--width-offset);

  h2 {
    grid-column: span var(--columns);
    margin: 0;
  }

  .buttons {
    grid-column: span var(--columns);
    display: inline-flex;
    gap: calc(var(--spacing) / 2);

    button {
      background-color: var(--coffee-with-milk);
      padding: calc(var(--spacing) / 2);
      border-radius: var(--border-radius);
      border: 0;
    }
  }
}
