.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 565px; //testa height.
  background-size: cover;
}

.header-content h1,
.header-content p {
  text-align: center;
}
