.page-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--vertical-space);

  justify-items: center;
}

.products-new,
.products-all,
.product-list {
  display: grid;
  justify-items: center;
  background-color: var(--coffee-with-milk);
  padding: var(--vertical-space) 0;

  /*.background {
    position: absolute;
    width: 100%;
    height: 31%;
    background-color: var(--coffee-with-milk);
    transform: skewY(-1deg);
    transform-origin: 0;
    z-index: -1;
  }*/
}

.tags {
    display: inline-flex;
    gap: calc(var(--spacing) / 2);

    .tag {
        background-color: var(--coffee-with-milk);
        padding: calc(var(--spacing) / 2);
        border-radius: var(--border-radius);
    }
}
