.page-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--vertical-space);

  justify-items: center;
}

.products-new,
.products-all,
.product-list {
  display: grid;
  justify-items: center;
  padding: var(--vertical-space) 0;

  position: relative;

  .background {
    position: absolute;
    width: 100%;
    top: -35px;
    z-index: -1;
  }
}

h1 {
    font-size: 60px;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--vertical-space);
  justify-items: center;

  width: var(--width-offset);
  
  .full-span {
    grid-column: span var(--columns);
    width: 100%;
  }

  .half-span {
    grid-column: span calc(var(--columns) / 2);
    width: 100%;
  }

  .middle-span-8 {
    grid-column: 3 / span 8;
  }
}

.product-list {
  background-color: var(--coffee-with-milk);
}


@media (max-width: 1000px) {
  .products-new,
  .products-all {
    background-color: var(--coffee-with-milk);
  }

  .products-all .background{
    display: none;
  }
}